html {
    height: 100%;
    background-color: #f3f4f6;
}

body {
    height: 100%;
    margin: 0 !important;
}

.min-h-full {
    min-height: 100%;
}

nav {
    background-color: #1f2937;

    .container {
        div {
            justify-content: flex-start;
            gap: 1rem;
            height: 4rem;
            
            .nav-items {
                margin-left: 2.5rem;
                align-items: baseline;
            }
            
            .nav-item {
                color: #fff;
                padding: 0.5rem 0.75rem;
                font-size: 0.875rem;
                font-weight: 500;
                line-height: 1.25rem;
                border-radius: 0.375rem;
                text-decoration: none;
                transition: all 0.5s;
            }
            
            .nav-item:hover {
                background-color: #111827;
            }
        }
    }
}

/** HEADER **/
header {
    background-color: #fff;

    div {
        padding: 1.5rem 2rem;
    }

    #page-title {
        font-size: 1.875rem;
        line-height: 2.25rem;
        font-weight: 700;
        color: #111827;
    }
}

main {
    padding: 2rem 0;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 80rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
